.body{
    height: 627px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/17637496-fundo-de-de-amor-de-coracao-quadro-dos-namorados-fundo-de-coracoes-rosa-amo-ilustracao-de-design-de-fundo-fundo-dos-namorados-coracao-de-amor-fundo-doce-gratis-vetor.jpg');
}

button{
    margin: 10px 0px;
    width: 30%;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 20px;
    border: none;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}

p{
    margin: 10px 0px;
    font-size: 24px;
    text-align: center;
}





















@media screen and (max-width: 600px){

    .body{
        height: 750px;
        padding-top: 170px;
    }

    button{
        width: 70%;
    }


    

}
